.landing .header{
    margin-bottom: 1em; 
}

.landing p{
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 1.2em;
}

.landing-image-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

#landing-image{
    width: 80%;
    max-height: 50vh;
}